
body{
	height: 100%;
}

#monster-display{

	//width: 100%;
	//height: 250px;
}

.monster-field{
    height: 250px;
	
}

#monster{
	position: relative;
}

.div-bio-level{
	float: left;
	width: 90%;
    overflow:hidden;
}

.panel-bio{
    float: left;
    margin: 10px;
    width: 130px;
    overflow:hidden;
}